services:
  kptv-proxy:
    image: ghcr.io/kpirnie/kptv-proxy:latest
    container_name: kptv_test
    restart: unless-stopped
    ports:
      - 9500:8080
    volumes:
      - /home/kpirnie/Development/Go/kptv-proxy/settings/:/settings/
    # for hardware accelleration with ffpmeg
    #devices:
    #  - /dev/dri:/dev/dri

    # Health check
    healthcheck:
      test: [ "CMD", "curl", "-v", "http://127.0.0.1:8080/api/stats" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
